<div style="padding: 10px;">
    <div class="row" style="text-align: center;">
        <div class="title principal-color">
            {{ title }}
        </div>
    </div>
    <div class="row">
        <div class="subtitle secondary-color">
            {{ subtitle }}
        </div>
    </div>
    <div>
        <svg width="100%" height="802px">
            <g attr.transform="translate({{ positionNube }} {{ 0 }})" class="nubes">
                <image [attr.x]="idx*20000" *ngFor="let n of cantNubes; let idx = index"
                    [attr.href]="'assets/imagenes/fondo1.png'" />
            </g>
            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-' + d?.flag" [attr.x]="0" y="0"
                    height="1" width="1">
                    <image preserveAspectRatio="none" width="80" height="80" x="0" y="0"
                        [attr.xlink:href]="'assets/youtube/' + d.flag + '.jpg'">
                    </image>
                </pattern>
            </defs>

            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-flag-' + d?.id" [attr.x]="0" y="0"
                    height="1" width="1">
                    <image preserveAspectRatio="none" width="50" height="50" x="-5" y="-5"
                        [attr.xlink:href]="'assets/flags/' + d.countryFlag + '.png'">
                    </image>
                </pattern>
            </defs>

            <g class="bar" *ngFor="let d of datas; let idx = index"
                attr.transform="translate({{ 0 }} {{ d?.position * 89 + 25 }})">
                <!--    
                <text class="fwb" style="font-family: 'Arial';" [attr.x]="d?.width + 12 + '%'"
                y="-40" fill="black">
                    {{ miles(floorValue(d.value).toString()) }}
                    <!-- {{ decimalValue(d.value).toString() }}
                </text>
            -->

                <text class="fwb vert-move-text" [ngStyle]="{ 'font-family': 'Arial', 'opacity': 0.75 }"
                    [attr.x]="d?.width + 19 + '%'" y="30" [attr.fill]="d?.color">{{ d?.name }}
                    ({{ miles(floorValue(d.value).toString()) }})</text>
                <!--
                <circle [attr.stroke]="'red'" stroke-width="3" [attr.cx]="d?.width + 5 + '%'" cy="30" r="19"
                fill="white" />
                -->

                <circle [attr.fill]="'rgba(124,240,10,0)'" stroke-opacity="75%" [attr.stroke]="d?.color"
                    stroke-width="3" [attr.cx]="d?.width + 15 + '%'" [attr.cy]="20" r="43" fill="white" />

                <circle class="vert-move" stroke="white" stroke-width="0" [attr.cx]="d?.width + 15 + '%'" [attr.cy]="20"
                    r="35" [attr.fill]="'url(#clip-' + d?.flag + ')'" />

                <!-- <image [attr.x]="d?.width + 17 + '%'"  height="40" width="40" [attr.href]="'assets/futbol/' + d.logo + '.png'" /> -->

                <!--
                <circle [attr.stroke]="d?.color" stroke-width="3" [attr.cx]="26" cy="30" r="23"
                fill="white" />

                <circle stroke="white" stroke-width="2" [attr.cx]="26" cy="30" r="20"
                [attr.fill]="'url(#clip-flag-' + d?.id + ')'" />             
-->
                <circle [attr.stroke]="d?.color" stroke-width="3" [attr.cx]="d?.width + 11 + '%'" cy="20" r="23" fill="white" />
                <circle stroke="white" stroke-width="2" [attr.cx]="d?.width + 11 + '%'" cy="20" r="20"
                [attr.fill]="'url(#clip-flag-' + d?.id + ')'" />
            </g>
        </svg>
    </div>

    <div class="time ib principal-color">
        <div class="ib year">
            <!-- {{ currentYear }} -->
            {{ currentYear | date:'dd-MM-yyyy' }}
        </div>
    </div>

</div>