.title {
    margin-bottom: 20px;
    font-size: 46px;
    font-family: 'corona';
    font-weight: bold;
}

.time {
    position: absolute;
    top: 870px;
    left: 1270px;
    font-family: 'corona';
    font-weight: bold;
}

.reloj {
    position: absolute;
    top: 320px;
    left: 1100px;
    color: gray;
    font-size: 36px;
    font-family: 'Arial';
    font-weight: bold;
}

.bar {
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
}

.ib {
    display: inline-block;
}

.year {
    font-size: 55px;
}


g.bar circle{
    transition: cy 1s;
}

g.barx circle{
    transition: cx 1s;
}

image {
    border-radius: 50%;
}

.principal-color {
    color: rgb(83, 36, 132);
}

.subtitle {
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    font-family: 'corona';
    font-weight: bold;
    color: rgba(0, 155, 58);
}

.fwb {
    font-weight: bold;
    font-size: 18px;
}

div.logo {
    position: absolute;
    top: 640px;
    left: 1250px;
    z-index: -1;
}

div.logo img {
    width: 200px;
}

div.mapa {
    position: absolute;
    top: 300px;
    left: 500px;
    z-index: -1;
}

div.mapa img {
    width: 400px;
    opacity: 0.5;
}

g.selected {
    // transition: all 1s;
}