<div class="container-fluid pt-3">
    <div class="row" style="text-align: center;">
        <div class="col-12 title principal-color" style="text-align: center;">
            {{ title }}
        </div>
    </div>
    <div class="row">
        <div class="subtitle secondary-color">
            {{ subtitle }}
        </div>
    </div>
    <div>
        <svg width="1380px" height="840px">

            <!-- Cuadrantes -->

            <rect style="fill: #9dbfc1; opacity: 0.3" x="10" y="70" width="580" height="340" />

            <rect style="fill: green; opacity: 0.3" x="600" y="70" width="580" height="340" />

            <rect style="fill: red; opacity: 0.3" x="10" y="420" width="580" height="340" />

            <rect style="fill: #9dbfc1; opacity: 0.3" x="600" y="420" width="580" height="340" />


            <!-- Indicadores -->

            <rect style="fill: #9dbfc1; opacity: 0.5" x="10" y="0" width="580" height="40" />
            <text x="20" y="30" font-family="corona" font-size="20" fill="white">
                Poca Libertad Económica, Mucha Libertad Personal
            </text>

            <rect style="fill: green; opacity: 0.5" x="600" y="0" width="580" height="40" />
            <text x="610" y="30" font-family="corona" font-size="20" fill="white">
                Mucha Libertad Económica, Mucha Libertad Personal
                <!-- Muchos Casos Confirmados, Muchas Muertes -->
            </text>

            <rect style="fill: red; opacity: 0.5" x="10" y="780" width="580" height="40" />
            <text x="20" y="810" font-family="corona" font-size="20" fill="white">
                Poca Libertad Económica, Poca Libertad Personal
                <!-- Pocos Casos Confirmados, Pocas Muertes -->
            </text>

            <rect style="fill: #9dbfc1; opacity: 0.5" x="600" y="780" width="580" height="40" />
            <text x="610" y="810" font-family="corona" font-size="20" fill="white">
                Mucha Liberta Económica, Poca Libertad Personal
            </text>

            <!-- Cantidad Maxima Muertes o eje y -->

            <text x="20" y="65" font-family="corona" font-size="20" [attr.fill]="color_muerte">
                {{ decimalValue(max_y) }}
            </text>

            <!-- Cantidad Maxima Confirmados o eje x -->

            <text x="1190" y="770" font-family="corona" font-size="20" [attr.fill]="color_confirmados">
                {{ decimalValue(max_x) }}
            </text>

            <text style="opacity: 0.5;" x="50" y="250" font-family="corona" font-size="30" fill="white">
                Índice Libertad Personal
            </text>
            <!--   
            <text style="opacity: 0.5;" x="170" y="280" font-family="corona" font-size="20" fill="white">
                por millón de habitantes
            </text>
        -->

            <text style="opacity: 0.5;" x="660" y="600" font-family="corona" font-size="30" fill="white">
                Índice Libertad Económica
            </text>
            <!--
            <text style="opacity: 0.5;" x="790" y="630" font-family="corona" font-size="60" fill="white">
                Económica
            </text>
        -->

            <!-- imagenes de banderas -->
            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-' + d?.flag" [attr.x]="0" y="0"
                    height="1" width="1">
                    <image preserveAspectRatio="none" width="40" height="40" x="0" y="0"
                        [attr.xlink:href]="'assets/flags/' + d.flag + '.png'">
                    </image>
                </pattern>
            </defs>

            <g [ngClass]="{ 'bar': flagcy, 'barx': flagcx }" *ngFor="let d of datas; let idx = index"
                attr.transform="translate({{0}} {{ 0 }})">

                <circle stroke-opacity="75%" [attr.stroke]="d?.color" stroke-width="5" [attr.cx]="d?.width + 3 + '%'"
                    [attr.cy]="d?.widthD + 12 + '%'" r="21" fill="white" />

                <circle stroke="white" stroke-width="2" [attr.cx]="d?.width + 3 + '%'" [attr.cy]="d?.widthD + 12 + '%'"
                    r="20" [attr.fill]="'url(#clip-' + d.flag + ')'" />

            </g>

            <!-- eje x -->
            <line x1="0" y1="770" x2="1180" y2="770" stroke-width="2" stroke="black" />

            <!-- eje y -->
            <line x1="0" y1="0" x2="0" y2="770" stroke-width="3" stroke="black" />
        </svg>
    </div>

    <div class="time ib principal-color">
        <div class="ib year">
            <!-- {{ currentYear }} -->
            {{ currentYear }}
        </div>
    </div>


</div>

<app-graphs-top-copy (calculate)="onCalculate($event)" [csv]="'assets/csv/HF-top.csv'"></app-graphs-top-copy>