<div class="container-fluid">
    <div class="row">
        <div style="text-align: center;" class="col-12">
            <span class="title principal-color">
                <span style="color: #006843;">MÉXICO</span> vs <span style="color: #ff4b5c;">CHILE</span> vs <span style="color: #79bee8;">ARGENTINA</span> vs <span style="color: #009d2e;">BRASIL</span>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-4" *ngFor="let data of datas">
            <div class="card">
                <div class="card-body">
                    <div class="text-corona" style="text-align: center;">{{data.title}}</div>
                    <app-graphs-basic-copy2 [inverse]="data.inverse" (changeYear)="onChangeYear($event)" [fixed]="data.fixed" [csv]="data.csv"></app-graphs-basic-copy2>
                    <span class="font-corona">FUENTE: {{ data.fuente }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="time ib principal-color">
    <div class="font-corona ib year">
        {{ currentYear }}
        <!--{{ currentYear | date:'dd-MM-yyyy' }}-->
    </div>
</div>