.title {
    // margin-bottom: 5px;
    font-size: 40px;
    font-family: 'corona';
    font-weight: bold;
}

.card {
    padding: 5px;
}

.text-corona {
    font-family: 'corona';
    font-size: 20px;
}

.font-corona {
    font-family: 'corona';
}

.principal-color {
    color: rgb(83, 36, 132)
}

.year {
    font-size: 100px;
    position: absolute;
    top: 710px;
    left: 1350px;
}