.title {
    margin-bottom: 5px;
    font-size: 42px;
    font-family: 'Arial';
    font-weight: bold;
    // text-shadow: 0 0 2px black;
}

.principal-color {
    color: #573286;
}

.img {
    position: absolute;
    top: 150px;
    left: 300px;
    font-size: 30px;
    font-family: 'Arial';
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
}

.city {
    position: relative;
    top: 290px;
    font-family: 'Arial';
    color: white;
    font-size: 30px;
    text-shadow: 0 0 5px black;
    z-index: 100;
}

.img img {
    border: 20px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top {
    position: absolute;
    top: 680px;
    left: 1420px;
    font-size: 150px;
    font-family: 'Arial';
    color: white;
    text-shadow: 0 0 5px black;
    background-color: #9c0117;
    border-radius: 50%;
    padding: 20px;
}

.cant {
    color: white!important;
    // text-shadow: 0 0 2px black;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    color: #01a35e;
    font-weight: bold;
    font-size: 20px;
}

g.rect-stats {
    transition: all 3.5s;
}

g.rect-stats rect {
    transition: width 3.5s;
}

g.rect-stats text {
    transition: all 3.5s;
}

.text-cant {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
}

text.name {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

text.stats {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    fill: white;
}

.player1 {
    position: absolute;
    left: 380px;
    top: 220px;
}

.mapaFlag1 {
    position: absolute;
    left: 550px;
    top: 200px;
}

.mapaFlag2 {
    position: absolute;
    left: 950px;
    top: 200px;
}

.player2 {
    position: absolute;
    left:1150px;
    top: 220px;
}

.legend {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 870px;
}

.legend1 {
    position: absolute;
    top: 30px;
    left: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    z-index: -1;
}

div.win {
    color: rgb(29, 65, 139);
    margin-right: 10px;
}

div.lost {
    color: rgb(200, 15, 46);
    margin-right: 10px;
}

div.tie {
    color: #EDAD08;
}

div.lost div.square {
    background: rgb(200, 15, 46);
    opacity: 0.85;
}

div.win div.square {
    background: rgb(29, 65, 139);
    opacity: 0.85;
}

div.tie div.square {
    background: #EDAD08;
    opacity: 0.85;
}

div.square {
    width: 20px;
    height: 20px;
    border: 2px solid white;
}

div.legend1 div {
    display: inline-block;
}