.bar {
    height: 70px;
    border-radius: 5px;
    /* box-shadow: 1px 1px 1px #888888; */
}

.ib {
    display: inline-block;
}

.mr-5 {
    margin-right: 20px;
}

.mrb-5 {
    margin-right: 10px;
}

.count {
    color: black;
    font-family: 'Arial';
    font-size: 40px;
}
