
<div style="width: 100%;" [@photoState]="class" class="absolute" [ngClass]="class">
    <div class="ib mr-5" style="width: 70px;text-align: center;">
        <img style="border-radius: 50%;" [src]="img" width="50" height="50" />
        <div style="font-family: Arial, Helvetica, sans-serif;color: black;">
            {{ id }}
        </div>
    </div>

    <!--
    <svg width="100%" height="70">
        <rect [ngStyle]="{ 'width': width, 'background-color': color }" />
    </svg>
    -->
    
    <div class="ib mrb-5 bar" [ngStyle]="{ 'width': width, 'background-color': color }">
    </div>
    


    <div class="ib count">
        {{ cant }}
    </div>
</div>

<!--
<img style="border-radius: 50%;" [src]="img" width="50" height="50" />
<svg width="100%" height="70">
    <rect width="80%" style="fill:rgb(0,0,255);" />
</svg>
-->