<div>
    <div class="row" style="text-align: center;">
        <div class="title principal-color">
            {{ title }}
        </div>
    </div>
    <div class="row">
        <div class="subtitle secondary-color">
            {{ subtitle }}
        </div>
    </div>
    <div>
        <svg *ngIf="datas.length > 0" width="100%" height="830px">

            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="d.country" [attr.x]="0" y="0" height="1"
                    width="1">
                    <image preserveAspectRatio="none" width="52" height="52" x="-1" y="-1"
                        [attr.xlink:href]="'assets/flags/'+ d.country +'.png'">
                    </image>
                </pattern>

                <pattern *ngFor="let d of datas; let idx = index" id="{{ d?.country1 + '1' }}" [attr.x]="0" y="0" height="1"
                width="1">
                    <image *ngIf="d?.country1" preserveAspectRatio="none" width="46" height="46" x="0" y="0"
                     [attr.xlink:href]="'assets/flags/'+ d?.country1 +'.png'">
                    </image>
                </pattern>

                <pattern *ngFor="let d of datas; let idx = index" id="{{ d?.country2 + '2' }}" [attr.x]="0" y="0" height="1"
                    width="1">
                    <image *ngIf="d.country2" preserveAspectRatio="none" width="41" height="41" x="0" y="0"
                        [attr.xlink:href]="'assets/flags/'+ d.country2 +'.png'">
                    </image>
                </pattern>               

            </defs>

            <g class="bar" *ngFor="let d of datas; let idx = index"
                attr.transform="translate({{0}} {{ d?.position * 50 + 34 }})">
                <g *ngIf="d.position < cantToShow">
                    <text [attr.fill]="colors[d.country]"
                        [ngStyle]="{ 'font-family': 'corona', 'font-size': '22px', 'font-weight': 'bold' }"
                        [attr.y]="'25'"> {{ d.number }} - {{ d.nameShort }} </text>

                    <rect rx="5" [attr.x]="'420'" height="40" [attr.width]=" d.widthActuals[current] ? d?.widthActuals[current] - 5 + '%' : '0%'"
                        [ngStyle]="{ 'fill': colors[d.country], 'opacity': 0.9 }">
                    </rect>
                    <g *ngIf="d.country2">
                        <circle stroke-opacity="75%" [attr.stroke]="colors[d.country2]" stroke-width="5"
                        [attr.cx]="d.countryPositions[current] ? d?.countryPositions[current] - 4 + '%' : '0%'" cy="20" r="23" fill="white" />

                        <circle stroke="white" stroke-width="2" [attr.cx]="d.countryPositions[current] ? d?.countryPositions[current] - 4 + '%' : '0%'" cy="20" r="21"
                            [attr.fill]="'url(#'+ d.country2 +'2)'" />
                    </g>

                    <g *ngIf="d.country1">
                        <circle stroke-opacity="75%" [attr.stroke]="colors[d.country1]" stroke-width="5"
                        [attr.cx]="d.countryPositions[current] ? d?.countryPositions[current] - 2 + '%' : '0%'" cy="20" r="25" fill="white" />

                        <circle stroke="white" stroke-width="2" [attr.cx]="d.countryPositions[current] ? d?.countryPositions[current] - 2 + '%' : '0%'" cy="20" r="23"
                            [attr.fill]="'url(#'+ d.country1 +'1)'" />
                    </g>
                    
                    <circle stroke-opacity="75%" [attr.stroke]="colors[d.country]" stroke-width="5"
                        [attr.cx]="d.countryPositions[current] ? d?.countryPositions[current] + '%' : '0%'" cy="20" r="27" fill="white" />

                    <circle stroke="white" stroke-width="2" [attr.cx]="d.countryPositions[current] ? d?.countryPositions[current] + '%' : '0%'" cy="20" r="25"
                        [attr.fill]="'url(#'+ d.country +')'" />                    

                    <text [ngClass]="'cant'"
                        [ngStyle]="{ 'fill': 'black', 'font-family': 'corona', 'font-size': '22px', 'font-weight': 'bold' }"
                        [attr.x]="d.cantPositions[current] ? d.cantPositions[current] + 1 + '%' : '0%'" [attr.y]="'30'">
                        <!-- {{ d?.currentValues[current] }} -->
                        {{ d?.currentValues[current] }} gha <tspan [attr.fill]="d.pib < d?.currentValues[current] ? 'red' : 'green'">( {{ d.pib }} gha )</tspan>
                        <tspan font-family="FontAwesome" font-size="30" [attr.fill]="d.pib < d?.currentValues[current] ? 'red' : 'green'" >
                            {{ d.pib < d?.currentValues[current] ? '&#xf088;' : '&#xf087;' }}
                        </tspan>
                    </text>

                </g>
            </g>
            <!--
            <g class="imgCircle" [ngClass]="{ 'opacity1':  top%2 === 0, 'opacity0':  top%2 !== 0}">

                <defs>
                    <pattern id="img1" x="0" y="0" width="1" height="1">
                        <image [attr.xlink:href]="imageSelected" x="0" y="0" width="400" />
                    </pattern>
                </defs>
                <path stroke-width="25" stroke="white" id="curve"
                    d="M 380, 300 a 200,200 0 1,0 400,0 a 200,200 0 1,0 -400,0 " fill="url(#img1)" />
                <text style="font-family: 'corona'; font-weight: bold" dy="5" fill="rgb(0, 87, 60)" width="1000">
                    <textPath xlink:href="#curve" startOffset="25%" text-anchor="middle">
                        {{ citySelected | uppercase }}
                    </textPath>
                </text>
            </g>

            <g class="imgCircle" [ngClass]="{ 'opacity1':  top%2 !== 0, 'opacity0':  top%2 === 0}">

                <defs>
                    <pattern id="img2" x="0" y="0" width="1" height="1">
                        <image [attr.xlink:href]="imageSelected1" x="0" y="0" width="400" />
                    </pattern>
                </defs>
                <path stroke-width="25" stroke="white" id="curve1"
                    d="M 380, 300 a 200,200 0 1,0 400,0 a 200,200 0 1,0 -400,0 " fill="url(#img2)" />
                <text style="font-family: 'corona'; font-weight: bold" dy="5" fill="rgb(0, 87, 60)" width="1000">
                    <textPath xlink:href="#curve1" startOffset="25%" text-anchor="middle">
                        {{ citySelected1 | uppercase }}
                    </textPath>
                </text>
            </g>
            -->
        </svg>
    </div>
    <!--
    <div *ngIf="imageSelected != null" class="img">
        <div class="city">
            {{ citySelected }}
        </div>
        <img style="border-radius: 50%;" width="350" height="350" [src]="imageSelected" />
    </div>
    
    <div class="mapa">
        <img [attr.src]="'assets/imagenes/huella.png'" />
    </div>
    -->
    <div class="top-rounded">
    </div>
    <div class="top">
        {{ getValue(top) }}
    </div>

</div>