.title {
    margin-bottom: 20px;
    font-size: 46px;
    font-family: 'Arial';
    font-weight: bold;
}

.time {
    position: absolute;
    top: 800px;
    left: 1180px;
    font-size: 36px;
    font-family: 'Arial';
    font-weight: bold;
}

.reloj {
    position: absolute;
    top: 320px;
    left: 1100px;
    color: gray;
    font-size: 46px;
    font-family: 'Arial';
    font-weight: bold;
}

.bar {
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
}

.ib {
    display: inline-block;
}

.year {
    font-size: 70px;
}

g.bar{
    transition: all 1s;
}

image {
    border-radius: 50%;
}

.principal-color {
    color: rgb(83, 36, 132);
}

.subtitle {
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    color: rgba(0, 155, 58);
}

.fwb {
    font-weight: bold;
    font-size: 20px;
}

div.logo {
    position: absolute;
    top: 650px;
    left: 1170px;
    z-index: -1;
}

div.logo img {
    width: 400px;
}

div.mapa {
    position: absolute;
    top: 20px;
    left: 400px;
    z-index: 2;
}

div.mapa img {
    width: 820px;
}

div.mapa1 {
    position: absolute;
    top: 500px;
    left: 100px;
    z-index: 2;
    border: 2px solid #b9b9b9;
    border-radius: 10px;
}

div.mapa1 img {
    width: 500px;
}

div.total {
    color: '#532484';
}

div.totalDeaths {
    color: black;
}

div.totals {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 70px;
}

.text-shadow-white {
    text-shadow: 1px 0px 2px rgba(255, 255, 255, 1);
}

.first {
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    transition: border 0.2s;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%234889e7' /%3E%3Cstop offset='25%25' stop-color='%234889e7' /%3E%3Cstop offset='50%25' stop-color='%234889e7' /%3E%3Cstop offset='100%25' stop-color='%234889e7' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

.second {
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    transition: border 0.2s;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23d14a47' /%3E%3Cstop offset='25%25' stop-color='%23d14a47' /%3E%3Cstop offset='50%25' stop-color='%23d14a47' /%3E%3Cstop offset='100%25' stop-color='%23d14a47' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

.third {
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    transition: border 0.2s;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='green' /%3E%3Cstop offset='25%25' stop-color='green' /%3E%3Cstop offset='50%25' stop-color='green' /%3E%3Cstop offset='100%25' stop-color='green' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

.box {
    border: 3px solid transparent;
    padding: 5px;
}


