
<div style="padding: 10px;">
    <!--    
    <div class="row" style="text-align: center;">
        <div class="title principal-color">
            {{ title }}
        </div>
    </div>
-->
<div style="z-index: 1;">
    <svg width="1650" height="900px" version="1.1">
    
        <g>
    
            <g attr.transform="translate({{0}} {{900}})">
                <path *ngFor="let data of datas" [attr.id]="data.id" fill="transparent" [attr.stroke]="data.color"
                    stroke-width="2" class="path"></path>
            </g>
            <g attr.transform="translate({{tmp}}, {{0}})">
                <rect width="1700" height="1050" [attr.x]="positionRect" y="0" style="fill: #faf0e2" />
            </g>  
        <!--
            <g *ngFor="let data of datas" attr.transform="translate({{1620}} {{800}})">
                <circle [attr.cx]="20" [attr.cy]="data.positionYValue" r="10" [attr.fill]="data?.color">
                </circle>
            </g>
        -->
    
        </g>
    
    
    </svg>
    </div>
    <div *ngFor="let data of datas; let idx = index" style="width: 200px; z-index: 3;"
        [ngStyle]="{ 'font-weight': 'bold', 'font-family': ' Franklin Gothic Medium, Arial Narrow, Arial, sans-serif', 'font-size': '20px', 'position': 'absolute', 'top': data.top + 'px', 'left': data.left + 'px' }">
        <div style="width: 120px;"
            [ngClass]="data.position == 0 ? 'first' : data.position == 1 ? 'second' : data.position == 2 ? 'third' : 'box'"
            *ngIf="idx != datas.length - 1; else world">
            <div style="text-align: center;">
                <img width="30" [src]="'assets/flags-buenas/' + data.countryFlag + '.png'" />
            </div>
            <div style="text-align: center;" [ngStyle]="{ 'color': data?.color }">{{ data.name }}</div>
            <div class="text-shadow-white" style="text-align: center; color: #532484;">
                {{ miles(floorValue(data.value).toString()) }}
            </div>
            <div class="text-shadow-white" style="text-align: center;">
                {{ miles(floorValue(data.death).toString()) }}
            </div>
        </div>
        <ng-template #world>
            <div style="font-size: 35px; width: 450px;">
                <div style="text-align: center;">
                    <!-- <img width="30" [src]="'assets/flags-buenas/' + data.countryFlag + '.png'" /> -->
                </div>
                <div>{{ data.name }}</div>
                <div class="text-shadow-white" style="color: #532484;">
                    Confirmados: {{ miles(floorValue(data.value).toString()) }}
                </div>
                <div class="text-shadow-white">
                    Muertes: {{ miles(floorValue(data.death).toString()) }}
                </div>
            </div>
        </ng-template>
    </div>
    <!--
    <div class="row">
        <div class="subtitle secondary-color">
            {{ subtitle }}
        </div>
    </div>
    -->
    <div class="time ib principal-color">
        <div class="ib year">
            {{ translateYear(currentYear) }}
            <!--{{ currentYear }} -->
        </div>
    </div>
    <!--
    <div class="logo">
        <img src="assets/logos/logo avion1.png" />
    </div>
-->

    <div class="mapa">
        <img src="assets/imagenes/latinoamerica.png" />
    </div>

    <div class="mapa1">
        <img src="assets/imagenes/america central.png" />
    </div>

</div>

<div class="totals text-shadow-white">
    <div class="total principal-color">
        Confirmados: {{ miles(floorValue(totalCases).toString()) }}
    </div>
    <div class="totalDeaths">
        Muertes: {{ miles(floorValue(totalDeaths).toString()) }}
    </div>
</div>



