<div [ngStyle]="{ 'top': top1, 'left': left1 }" style="position: relative;width: 450px;height: 0px;">
    <div class="row" style="text-align: center;">
        <div class="title principal-color">
            {{ title }}
        </div>
    </div>
    <div class="row">
        <div class="subtitle secondary-color">
            {{ subtitle }}
        </div>
    </div>
    <div>
        <svg *ngIf="datas.length > 0" width="100%" height="680px">

            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'myclip-' + d.country" [attr.x]="0" y="0" height="1"
                    width="1">
                    <image preserveAspectRatio="none" width="52" height="52" x="-1" y="-1"
                        [attr.xlink:href]="'assets/flags/'+ d.country +'.png'">
                    </image>
                </pattern>

            </defs>

            <g class="bar" *ngFor="let d of datas; let idx = index"
                attr.transform="translate({{0}} {{ d?.position * 50 + 34 }})">
                <g *ngIf="d.position < cantToShow">
                    <text [attr.fill]="d.color"
                        [ngStyle]="{ 'font-family': 'corona', 'font-size': '22px', 'font-weight': 'bold' }"
                        [attr.y]="'25'"><tspan font-size="18">({{ d.number }})</tspan> - {{ d.nameShort }} </text>

                    <rect rx="5" [attr.x]="'220'" height="40"
                        [attr.width]=" d.widthActuals[current] - 5 > 0 ? d?.widthActuals[current] - 5 + '%' : '0%'"
                        [ngStyle]="{ 'fill': d.color, 'opacity': 0.9 }">
                    </rect>
                    
                    <circle stroke-opacity="75%" [attr.stroke]="d.color" stroke-width="5"
                        [attr.cx]="d.countryPositions[current] ? d?.countryPositions[current] + 20 + '%' : '0%'" cy="20"
                        r="27" fill="white" />
                    
                    <circle stroke="white" stroke-width="2"
                        [attr.cx]="d.countryPositions[current] ? d?.countryPositions[current] + 20 + '%' : '0%'" cy="20"
                        r="25" [attr.fill]="'url(#myclip-' + d.country + ')'" />

                    <text [ngClass]="'cant'"
                        [ngStyle]="{ 'fill': 'black', 'font-family': 'corona', 'font-size': '22px', 'font-weight': 'bold' }"
                        [attr.x]="d.cantPositions[current] ? d.cantPositions[current] + 27 + '%' : '0%'" [attr.y]="'30'">
                        <!-- {{ d?.currentValues[current] }} -->
                        {{ d?.currentValues[current] }}
                    </text>

                </g>
            </g>
        </svg>
    </div>

</div>