g.bar{
    transition: transform 3.5s;
}


.title {
    // margin-bottom: 5px;
    font-size: 28px;
    font-family: 'corona';
    font-weight: bold;
    // text-shadow: 0 0 2px black;
}

.principal-color {
    // color: rgb(0, 87, 60);
    color: rgb(83, 36, 132)
}

.img {
    position: absolute;
    top: 150px;
    left: 300px;
    font-size: 30px;
    font-family: 'corona';
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
}

.city {
    position: relative;
    top: 290px;
    font-family: 'corona';
    color: white;
    font-size: 20px;
    text-shadow: 0 0 5px black;
    z-index: 100;
    width: 390px;
}

.img img {
    border: 20px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top {
    position: absolute;
    top: 770px;
    left: 1500px;
    font-size: 80px;
    font-family: 'corona';
    color: white;
    text-shadow: 0 0 5px black;
    width: 160px;
    height: 160px;
    text-align: center;
}

.top-rounded {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 750px;
    left: 1500px;
    // background-color: rgb(0, 87, 60);
    background-color: rgb(83, 36, 132);
    border-radius: 50%;
}

.cant {
    color: white!important;
    // text-shadow: 0 0 2px black;
}

.subtitle {
    font-family: 'corona';
    color: #01a35e;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.opacity0 {
    opacity: 0;
}

.opacity1 {
    opacity: 1;
}

g.imgCircle {
    transition: opacity 1s;
}

tspan {
    background: blanchedalmond;
}

div.mapa {
    position: absolute;
    top: 230px;
    left: 610px;
    z-index: -1;
}

div.mapa img {
    width: 500px;
}

