<div style="padding: 10px;">
    <div class="row">
        <div class="title principal-color">
            {{ title }}
        </div>
    </div>
    <div class="row">
        <div class="subtitle secondary-color">
            {{ subtitle }}
        </div>
    </div>
    <div>
        <svg width="80%" height="795px">
            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-' + d.id" [attr.x]="0" y="0" height="1" width="1">
                    <image preserveAspectRatio="none" width="70" height="70" x="0" y="0" [attr.xlink:href]="'assets/mlb/' + d.id + '.png'">
                    </image>
                </pattern>
            </defs>
            
            <g  class="bar" *ngFor="let d of datas; let idx = index"
                attr.transform="translate({{0}} {{ d?.positions[cont] * 40 }})">

                <text fill="black" [ngStyle]="{ 'font-family': 'Arial' }" [attr.y]="'20'">{{ d.name }}</text>
                <rect rx="5" [attr.x]="'175'" [attr.width]="d?.widths[cont]" height="30"
                    [ngStyle]="{ 'fill': d?.color, 'opacity': 0.9 }" />
                
                <image y="0" [attr.x]="d?.imagePositions[cont]" [attr.href]="d.img" height="30" width="30"/>    
    
                <text [ngStyle]="{ 'font-family': 'Arial', 'font-size': '26px' }" [attr.x]="d?.cantPositions[cont]"
                    [attr.y]="'25'" fill="black">{{ floorValue(d?.cantidadActuals[cont]) }} </text>
                
            </g>
        </svg>
    <!-- 
        <svg transform="translate(0, -150)" width="20%" height="690px">
            <g class="bar" *ngFor="let d of datas; let idx = index"
                attr.transform="translate({{0}} {{ d?.positionsTop[cont] * 200 + 350 }})">

                <image y="5" [attr.x]="0" [attr.href]="'assets/nba/' + d.id + '.png'" [attr.height]="300" [attr.width]="300"/>    
                
            </g>
        </svg>
    -->

        <div [ngStyle]="imageToEnlarge[cont].style" style="position: absolute; font-family: Arial, Helvetica, sans-serif;">
            <img [ngStyle]="{ 'opacity': 1, 'z-index': 0 }" width="200" [src]="imageToEnlarge[cont].value" />
        </div>

        <div style="position: absolute; top: 250px;left: 400px; font-family: Arial, Helvetica, sans-serif;">
            <img [ngStyle]="{ 'opacity': 0.1, 'z-index': 0 }" width="900" [src]="'assets/mlb/logo.png'" />
        </div>
    </div>

    <div class="time ib principal-color" style="width: 300px;">
        <div class="year">
           {{ currentYear }}
        </div>    
    </div>
</div>