<div style="padding: 10px;">
    <div class="row" style="text-align: center;">
        <div class="title principal-color">
            {{ title }}
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="subtitle secondary-color">
            {{ subtitle }}
        </div>
    </div>
    <div>
        <svg width="1350" height="840px">

            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-' + d.country" [attr.x]="0" y="0"
                    height="1" width="1">
                    <image preserveAspectRatio="none" width="50" x="0" y="0"
                        [attr.xlink:href]="'assets/flags/' + d.country + '.png'">
                    </image>
                </pattern>
            </defs>

            <g class="bar" *ngFor="let d of datas; let idx = index"
                attr.transform="translate({{0}} {{ d?.position * 60 + 10 }})">
                <g>
                    <text fill="#9c0117" style="font-family: 'Arial'; font-weight: bold; font-size: 20px"
                        [attr.y]="'28'">{{ d.name }} </text>

                    <rect rx="5" [attr.x]="'250'" height="40" [attr.width]="d.width"
                        [ngStyle]="{ 'fill': d.color, 'opacity': 0.9 }">
                    </rect>

                    <text attr.transform="translate({{ d.width + 290 }} {{ 28 }})" fill="#9c0117" [ngClass]="'cant'"
                        [ngStyle]="{ 'font-family': 'Arial', 'font-size': '20px', 'font-weight': 'bold' }">
                        {{ d.cant }}
                    </text>
                </g>

                <circle [attr.stroke]="d.color" stroke-width="3" [attr.cx]="d.width + 250" cy="20" r="27"
                    [attr.fill]="'white'" />

                <circle [attr.stroke]="'white'" stroke-width="3" [attr.cx]="d.width + 250" cy="20" r="25"
                    [attr.fill]="'url(#clip-' + d.country + ')'" />
            </g>
        </svg>
        <!--
        <svg height="840px">
            <svg height="570px">
                <g class="country" attr.transform="translate({{0}} {{ c.position * 50 + 20 }})"
                    *ngFor="let c of cities">
                    <image preserveAspectRatio="none" width="50" x="20" y="0"
                        [attr.xlink:href]="'assets/mapas/' + c.flag + '.png'">
                    </image>
                    <text fill="#9c0117" style="font-family: 'Arial'; font-weight: bold; font-size: 20px" y="30"
                        x="100">{{ c.name | titlecase }} ( {{ c.cant }} ) </text>
                </g>
            </svg>
        </svg>
        -->
    </div>
    
    <div *ngIf="imageSelected != null" class="img">
        <!--
        <div class="city">
            {{ citySelected }}
        </div>
        -->
        <img style="border-radius: 50%;" width="400" height="400" [src]="imageSelected" />
    </div>
    <div class="top">
        {{ getValue(top) }}
    </div>
</div>