g.bar{
    transition: transform 3.5s;
}

rect {
    transition: width 3.5s;
}

circle {
    transition: cx 3.5s;
}

text {
    transition: transform 3.5s;
}


.title {
    margin-bottom: 5px;
    font-size: 42px;
    font-family: 'Arial';
    font-weight: bold;
    // text-shadow: 0 0 2px black;
}

.principal-color {
    color: #9c0117;
}

.img {
    position: absolute;
    top: 150px;
    left: 300px;
    font-size: 30px;
    font-family: 'Arial';
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
}

.city {
    position: relative;
    top: 360px;
    font-family: 'Arial';
    color: white;
    font-size: 30px;
    text-shadow: 0 0 5px black;
    z-index: 100;
}

.img img {
    border: 20px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top {
    position: absolute;
    top: 680px;
    left: 1420px;
    font-size: 150px;
    font-family: 'Arial';
    color: white;
    text-shadow: 0 0 5px black;
    background-color: #9c0117;
    border-radius: 50%;
    padding: 20px;
}

.cant {
    color: white!important;
    // text-shadow: 0 0 2px black;
}

.country {
    transition: transform 3.5s;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: bold;
    font-size: 20px;
}