<svg width="100%" height="180">
    <defs>
        <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-' + d?.flag" [attr.x]="0" y="0" height="1"
            width="1">
            <image preserveAspectRatio="none" width="38" height="38" x="0" y="0"
                [attr.xlink:href]="'assets/flags/' + d.flag + '.png'">
            </image>
        </pattern>
    </defs>

    <g class="bar" *ngFor="let d of datas; let idx = index"
        attr.transform="translate({{0}} {{ d?.position * 42 + 10 }})">

        <rect [ngStyle]="{ 'fill': d?.color, 'opacity': 0.75 }" rx="5" x="110" [attr.width]=" d?.width + '%'"
            height="30" />

        <text class="fwb" style="font-family: 'corona';" [attr.x]="d?.width + 32 + '%'" y="20" fill="black">
            {{ (decimalValue(d.value).toString()) }}
            <!-- {{ decimalValue(d.value).toString() }} % -->
        </text>

        <text class="fwb" [ngStyle]="{ 'font-family': 'corona' }" [attr.x]="'0'"
                y="20" [attr.fill]="d?.color">{{ d?.name }}</text>
        
        <circle stroke-opacity="75%" [attr.stroke]="d?.color" stroke-width="5" [attr.cx]="d?.width + 26 + '%'" cy="16" r="20"
        fill="white" />

        <circle stroke="white" stroke-width="2" [attr.cx]="d?.width + 26 + '%'" cy="16" r="19"
        [attr.fill]="'url(#clip-' + d?.flag + ')'" />

    </g>
    <g>
        <rect [ngStyle]="{ 'fill': '#EADBC4' }" y="550" width="100%" height="200%" />
    </g>
</svg>
