.title {
    margin-bottom: 0px;
    font-size: 30px;
    font-family: 'corona';
    font-weight: bold;
}

.time {
    position: absolute;
    top: 800px;
    left: 1380px;
    font-size: 36px;
    font-family: 'corona';
    font-weight: bold;
}

.reloj {
    position: absolute;
    top: 320px;
    left: 1100px;
    color: gray;
    font-size: 46px;
    font-family: 'Arial';
    font-weight: bold;
}

.bar {
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
}

.ib {
    display: inline-block;
}

.year {
    font-size: 100px;
}

g.bar{
    transition: all 1s;
}

image {
    border-radius: 50%;
}

.principal-color {
    color: rgb(83, 36, 132);
}

.subtitle {
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    color: rgba(0, 155, 58);
}

.fwb {
    font-size: 20px;
    font-weight: bold;
}

div.logo {
    position: absolute;
    top: 650px;
    left: 1240px;
    z-index: -1;
}

div.logo img {
    width: 400px;
}

div.mapa {
    position: absolute;
    top: 150px;
    left: 400px;
    z-index: -1;
}

div.mapa img {
    width: 650px;
    opacity: 0.5;
}