g.bar{
    // transition: transform 4s;
}

g.icons{
    // transition: transform 20s;
}

.title {
    margin-bottom: 5px;
    font-size: 36px;
    font-family: 'corona';
    font-weight: bold;
    // text-shadow: 0 0 2px black;
}

.principal-color {
    color: rgb(0, 87, 60);
}

.img {
    position: absolute;
    top: 150px;
    left: 300px;
    font-size: 30px;
    font-family: 'Arial';
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
}

.city {
    position: relative;
    top: 290px;
    font-family: 'Arial';
    color: white;
    font-size: 20px;
    text-shadow: 0 0 5px black;
    z-index: 100;
    width: 390px;
}

.img img {
    border: 20px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top {
    position: absolute;
    top: 780px;
    left: 1520px;
    font-size: 100px;
    font-family: 'Arial';
    color: white;
    text-shadow: 0 0 5px black;
    background-color: rgb(0, 87, 60);
    border-radius: 50%;
    padding: 20px;
}

.cant {
    color: white!important;
    // text-shadow: 0 0 2px black;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    color: #01a35e;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.opacity0 {
    opacity: 0;
}

.opacity1 {
    opacity: 1;
}

g.imgCircle {
    transition: opacity 1s;
}

circle.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(5px); }
    100% { transform: translateY(-5px); }
}

@keyframes mover {
    0% { transform: translateY(5px); }
    100% { transform: translateY(-5px); }
}

