<div style="padding: 10px;">
    <div class="row" style="text-align: center;">
        <div class="title principal-color">
            {{ title }}
        </div>
    </div>
    <div class="row">
        <div class="subtitle secondary-color">
            {{ subtitle }}
        </div>
    </div>
    <div>
        <svg width="100%" height="860px">
        <!--
            <g *ngFor="let i of icons" class="icons" attr.transform="translate({{ i.positionX }} {{ i.positionY * 100 + 150 }})" width="100%" height="840px">
                <image [attr.href]="'assets/imagenes/' + i.img" height="150" width="150" style="opacity: 0.2;"/>
            </g>
        -->
            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-' + idx" [attr.x]="0" y="0"
                    height="1" width="1">
                    <image preserveAspectRatio="none" width="160" x="0" y="0"
                        [attr.xlink:href]="'assets/atletas/' + d.name + '.png'">
                    </image>
                </pattern>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-' + d.flag" [attr.x]="0" y="0"
                    height="1" width="1">
                    <image preserveAspectRatio="none" width="35" height="35" x="0" y="0"
                        [attr.xlink:href]="'assets/futbol/' + d.flag + '.png'">
                    </image>
                </pattern>
            </defs>
            <g [ngStyle]="{ 'transition': 'transform ' + vel1 + 's' }" class="bar" *ngFor="let d of datas; let idx = index"
                attr.transform="translate({{ d?.positionX * 200 + 100 }} {{ d?.positionY + 200 }})">
                <!--
                    d?.position * 180 + 125
                -->
                <g>
                    <text fill="rgb(0, 87, 60)"
                        [ngStyle]="{ 'font-family': 'corona', 'font-size': '30px', 'font-weight': 'bold', 'text-align': 'center' }" [attr.y]="'110'">
                        
                        <tspan text-anchor="middle"> {{ d.nameShort }} </tspan>
                    </text>
                <!--
                    <text fill="rgb(0, 87, 60)" [ngClass]="'cant'"
                        [ngStyle]="{ 'font-family': 'Arial', 'font-size': '15px', 'font-weight': 'bold' }" [attr.y]="'100'">
                        <tspan text-anchor="middle"> ({{ d.sport }}) </tspan>
                    </text>
                -->

                    <text fill="rgb(0, 87, 60)" [ngClass]="'cant'"
                        [ngStyle]="{ 'font-family': 'corona', 'font-size': '30px', 'font-weight': 'bold' }" [attr.y]="'150'">
                        <tspan text-anchor="middle"> {{ floorValue(d?.currentValues[current]) }} </tspan>
                    </text>

                    <circle [attr.stroke]="d.color" stroke-width="3" [attr.cx]="0" [attr.cy]="-60" r="100"
                        [attr.fill]="'rgba(124,240,10,0)'" />

                    <circle class="vert-move" [attr.cx]="0" cy="-60" r="80"
                        [attr.fill]="'url(#clip-' + idx + ')'" />

                    <image x="-32" [attr.href]="'assets/futbol/' + d.flag + '.png'" height="70" width="70"/>
                    <!--
                    <circle [attr.cx]="0" [attr.cy]="50" r="21" [attr.fill]="d.color">
                        </circle>
        
                    <circle stroke="white" stroke-width="3" [attr.cx]="0" [attr.cy]="50"
                            r="18" [attr.fill]="'url(#clip-' + d.flag + ')'" />
                    -->
                </g>
            </g>
        </svg>
    </div>
    <!--
    <div *ngIf="imageSelected != null" class="img">
        <div class="city">
            {{ citySelected }}
        </div>
        <img style="border-radius: 50%;" width="350" height="350" [src]="imageSelected" />
    </div>
    
    <div class="top">
        {{ getValue(top) }}
    </div>
    -->
</div>