<div style="padding: 10px;">
    <div class="row" style="text-align: center;">
        <div class="title principal-color">
            {{ title }}
        </div>
    </div>
    <div class="row">
        <div class="subtitle secondary-color">
            {{ subtitle }}
        </div>
    </div>
    <div>
        <svg width="90%" height="814px">
            
            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-' + d.img" [attr.x]="0" y="0" height="1" width="1">
                    <image preserveAspectRatio="none" width="35" height="35" x="0" y="0" [attr.xlink:href]="'assets/flags/' + d.img + '.png'">
                    </image>
                </pattern>
            </defs>
            
            <g  class="bar" *ngFor="let d of datas; let idx = index"
                attr.transform="translate({{0}} {{ d.positions[cont] * 40 + 20 }})">
                <!-- <image [attr.href]="d?.flag" x="30" height="50" width="50"/> -->
                <text fill="black" style="font-family: 'Arial'" [attr.y]="'25'">{{ d.name }}</text>
                <rect rx="5" x="125" [attr.width]="d.widths[cont]" height="30"
                    [ngStyle]="{ 'fill': d.color }" />
                
                
                <!-- <circle [attr.cx]="d?.imagePositions[cont]" cy="35" r="30"
                [attr.fill]="'url(#clip-' + d.id + ')'" />  -->
                
                
                <circle [attr.stroke]="d.color" stroke-width="3" [attr.cx]="d?.imagePositions[cont]" cy="15" r="19"
                fill="white" />

                <circle stroke="white" stroke-width="3" [attr.cx]="d?.imagePositions[cont]" cy="15" r="17"
                [attr.fill]="'url(#clip-' + d.img + ')'" />
                
                <!--
                <image y="-10" [attr.x]="d?.imagePositions[cont]" [attr.href]="'assets/flags/' + d.id + '.png'" height="60" width="60"/> 
                -->
                
                <text style="font-family: 'Arial'; font-size: '20px'" [attr.x]="d.cantPositions[cont]"
                    y="25" fill="black">{{ d.cantidadActuals[cont] }} </text>
                
            </g>
        </svg>
        
        
        
        
        <!-- 
        <div *ngIf="imageToEnlarge[cont]?.description" style="position: absolute; top: 620px;left: 1430px; font-family: Arial, Helvetica, sans-serif;">
            {{ imageToEnlarge[cont]?.description }}
        </div>
        <div *ngIf="imageToEnlarge[cont]?.value" style="position: absolute; top: 410px;left: 1410px;">
            <img [ngStyle]="{ 'opacity': imageToEnlarge[cont]?.opacity }" width="200" height="200" [src]="imageToEnlarge[cont]?.value" />
        </div>
        -->
        <!--
        <div style="position: absolute; top: 220px;left: 930px; font-family: Arial, Helvetica, sans-serif;">
            <img [ngStyle]="{ 'opacity': 0.08, 'z-index': 0 }" width="700" height="700" [src]="'assets/nba/aro.png'" />
        </div>
        -->
    </div>

    <div class="time ib principal-color">
        <div class="ib year">
            {{ fch[floorYear()] | titlecase }}
        </div>
        <!--
        <div class="">
            Total: {{ world[cont] }}
        </div>
        -->
    </div>
    
</div>

<div id="test">
    1
</div>