.title {
    margin-bottom: 20px;
    font-size: 46px;
    font-family: 'Arial';
    font-weight: bold;
}

.time {
    position: absolute;
    top: 800px;
    left: 1180px;
    font-size: 36px;
    font-family: 'Arial';
    font-weight: bold;
}

.reloj {
    position: absolute;
    top: 320px;
    left: 1100px;
    color: gray;
    font-size: 46px;
    font-family: 'Arial';
    font-weight: bold;
}

.bar {
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
}

.ib {
    display: inline-block;
}

.year {
    font-size: 70px;
}

g.bar{
    transition: all 1s;
}

image {
    border-radius: 50%;
}

.principal-color {
    color: rgb(83, 36, 132);
}

.subtitle {
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    color: rgba(0, 155, 58);
}