<svg style="margin: 10px;z-index: 1" height="770px">
    <g>
        <g *ngFor="let data of datas; let idxp = index" attr.transform="translate(0, {{idxp*35}})">
            <!-- mujer -->
            <g>
                <rect [ngStyle]="{ 'fill': '#EE7989', 'opacity': 1 }" rx="5" x="0" [attr.width]="data.width" height="30" />
                <text attr.transform="translate(0, {{20}})">{{data.width}}</text>
            </g>
            <!-- hombre -->
            <g>
                <rect [ngStyle]="{ 'fill': 'steelblue', 'opacity': 1 }" rx="5" x="0" [attr.width]="data.width" height="30" />
                <text attr.transform="translate(0, {{20}})">{{data.width}}</text>
            </g>
            <!-- <text attr.transform="translate(0, {{20}})">{{data.range}}</text> -->
        </g>
    </g>
</svg>