<app-graphs-basic></app-graphs-basic>

<!--
<svg width="100%" height="420" version="1.1"
     xmlns="http://www.w3.org/2000/svg">
  <g *ngFor="let d of datas; let idx = index" attr.transform="translate({{0}} {{ idx * 60 }})">
    <rect x="0" y="10" height="50" [attr.width]="d.to">
        <animate attributeType="XML" attributeName="width" [attr.from]="d.from" [attr.to]="d.to"
            dur="10s" repeatCount="2"/>
    </rect>
  </g>
</svg>
-->