<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-12 title principal-color" style="text-align: center;">
            {{ title }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 subtitle secondary-color" style="text-align: center; margin-bottom: 50px;">
            {{ subtitle }}
        </div>
    </div>
    <!--name-->
    <div class="row" style="text-align: center; width: 100%; overflow: hidden; height: 100px;">
        <div class="col-12">
            <h1 class="animate__animated name principal-color" [ngClass]="rowSelected.class">
                {{ rowSelected.name }}
            </h1>
        </div>
    </div>

    <!--img-->
    <div class="row" style="text-align: center; width: 100%; overflow: hidden; padding-bottom: 20px;">
        <div style="padding: 25px;" class="col-12">
            <img width="400" class="shadow rounded-circle animate__animated" [ngClass]="rowSelected.classImg"
                [src]="'assets/flags-buenas/' + rowSelected.country + '.png'" />
        </div>
        <!-- <img style="position: relative; top: -10px; left: -270px;" width="100" class="rounded-circle animate__animated" [ngClass]="rowSelected.classImg" [src]="'assets/flags/' + rowSelected.country + '.png'" />-->
        <!--   
        <h1 class="animate__animated name" [ngClass]="rowSelected.classImg">
            {{ rowSelected.name }}
        </h1>
    -->
    </div>
    
    <!--
    <div class="row" style="text-align: center; width: 100%; overflow: hidden; margin-bottom: 10px;">
        <div class="col-12">
            <img width="100" class="rounded-circle animate__animated" [ngClass]="rowSelected.classImg"
                [src]="'assets/flags-buenas/' + rowSelected.img + '.png'" />
        </div>
    </div>
    -->

    <!--value-->
    <div class="row" style="text-align: center; width: 100%; overflow: hidden;">
        <div class="col-12">
            <div style="display : flex; align-items : center; justify-content: center;" class="animate__animated principal-color" [ngClass]="rowSelected.classValue">
                <h1 class="mr-2">{{rowSelected.value}}</h1>
                <!-- <fa style="color: red" size="3x" name="caret-down"></fa> -->
            </div>
        </div>
    </div>
<!--
    <div class="row" style="text-align: center; width: 100%; overflow: hidden;">
        <div class="col-12">
            <div style="display : flex; align-items : center; justify-content: center; padding: 20px;" class="animate__animated" [ngClass]="rowSelected.classInst">
                 <fa style="color: white" size="3x" name="instagram"></fa> 
                <h1 class="mr-2" style="color: #223e69">2021: {{rowSelected.inst}}%</h1>
                <fa [ngStyle]="{'color': rowSelected.inst > 0 ? 'green' : 'red'}" size="3x" [name]="rowSelected.inst > 0 ? 'caret-up' : 'caret-down'"></fa>
            </div>
        </div>
    </div>
    
    <img class="animate__animated animate__pulse animate__infinite" style="position: absolute; top: 100px;" width="100"
        src="assets/logos/forbes.png" />
    <img class="animate__animated animate__pulse animate__infinite" style="position: absolute; top: 500px; left: 100px;"
        width="100" src="assets/logos/forbes.png" />
    <img class="animate__animated animate__pulse animate__infinite" style="position: absolute; top: 700px; left: 200px;"
        width="100" src="assets/logos/forbes.png" />
    <img class="animate__animated animate__pulse animate__infinite" style="position: absolute; top: 300px; left: 300px;"
        width="100" src="assets/logos/forbes.png" />
    <img class="animate__animated animate__pulse animate__infinite" style="position: absolute; top: 500px; left: 470px;"
        width="100" src="assets/logos/forbes.png" />

    <img class="animate__animated animate__pulse animate__infinite" style="position: absolute; top: 100px; right: 10px;"
        width="100" src="assets/logos/forbes.png" />
    <img class="animate__animated animate__pulse animate__infinite"
        style="position: absolute; top: 500px; right: 100px;" width="100" src="assets/logos/forbes.png" />
    <img class="animate__animated animate__pulse animate__infinite"
        style="position: absolute; top: 700px; right: 200px;" width="100" src="assets/logos/forbes.png" />
    <img class="animate__animated animate__pulse animate__infinite"
        style="position: absolute; top: 300px; right: 300px;" width="100" src="assets/logos/forbes.png" />
    <img class="animate__animated animate__pulse animate__infinite"
        style="position: absolute; top: 500px; right: 500px;" width="100" src="assets/logos/forbes.png" />
        -->
    
    <div class="top-rounded animate__animated animate__pulse animate__infinite">
    </div>
    <div class="top animate__animated animate__pulse animate__infinite">
        {{ topCont }}
    </div>

    <div class="top-five">
        <div style="font-size: 35px;" class="principal-color">Top 5 Mundial</div>
        <div style="margin-bottom: 10px;">
            <img width="50" src="assets/flags-buenas/iceland.png" />
            <span style="font-size: 20px; margin-left: 10px;">Islandia 0.892</span>
        </div>
        <div style="margin-bottom: 10px;">
            <img width="50" src="assets/flags-buenas/finland.png" />
            <span style="font-size: 20px; margin-left: 10px;">Finlandia 0.861</span>
        </div>
        <div style="margin-bottom: 10px;">
            <img width="50" src="assets/flags-buenas/norway.png" />
            <span style="font-size: 20px; margin-left: 10px;">Noruega 0.849</span>
        </div>
        <div style="margin-bottom: 10px;">
            <img width="50" src="assets/flags-buenas/new-zealand.png" />
            <span style="font-size: 20px; margin-left: 10px;">Nueva Zelanda 0.840</span>
        </div>
        <div style="margin-bottom: 10px;">
            <img width="50" src="assets/flags-buenas/sweden.png" />
            <span style="font-size: 20px; margin-left: 10px;">Suecia 0.823</span>
        </div>
    </div>
</div>