<div style="padding: 10px;">
    <div class="row" style="text-align: center;">
        <div class="title principal-color">
            {{ title }}
        </div>
    </div>
    <div class="row">
        <div class="subtitle secondary-color">
            {{ subtitle }}
        </div>
    </div>
    <div>
        <svg width="90%" height="552px">

            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-' + d?.flag" [attr.x]="0" y="0" height="1" width="1">
                    <image preserveAspectRatio="none" width="80" height="80" x="0" y="0" [attr.xlink:href]="'assets/flags/' + d.flag + '.png'">
                    </image>
                </pattern>
            </defs>

            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-flag-' + d?.id" [attr.x]="0" y="0" height="1" width="1">
                    <image preserveAspectRatio="none" width="50" height="50" x="-5" y="-5" [attr.xlink:href]="'assets/flags/' + d.flag + '.png'">
                    </image>
                </pattern>
            </defs>
            
            <g  class="bar" *ngFor="let d of datas; let idx = index"
                attr.transform="translate({{0}} {{ 2* (d?.position * 52 + 24) }})">
                
                <rect [ngStyle]="{ 'fill': d?.color, 'opacity': 0.75 }" rx="5" x="335" [attr.width]="d?.width + '%'" height="80" />
                
                <text class="fwb" style="font-family: 'Arial';" [attr.x]="d?.width + 25 + '%'"
                y="50" fill="black">
                    <!-- {{ miles(floorValue(d.value).toString()) }} -->
                    {{ decimalValue(d.value).toString() }} %
                </text>
                
                <text class="fwb" [ngStyle]="{ 'font-family': 'Arial', 'opacity': 0.75 }" [attr.x]="'0'"
                y="50" [attr.fill]="d?.color">{{ d?.name }}</text>
                <!--
                <circle [attr.stroke]="'red'" stroke-width="3" [attr.cx]="d?.width + 5 + '%'" cy="30" r="19"
                fill="white" />
                -->
            
                <circle stroke-opacity="75%" [attr.stroke]="d?.color" stroke-width="5" [attr.cx]="d?.width + 21 + '%'" cy="40" r="44"
                fill="white" />

                <circle stroke="white" stroke-width="2" [attr.cx]="d?.width + 21 + '%'" cy="40" r="40"
                [attr.fill]="'url(#clip-' + d?.flag + ')'" />
            
<!--
                <circle [attr.stroke]="d?.color" stroke-width="3" [attr.cx]="26" cy="30" r="23"
                fill="white" />

                <circle stroke="white" stroke-width="2" [attr.cx]="26" cy="30" r="20"
                [attr.fill]="'url(#clip-flag-' + d?.id + ')'" />
-->
            </g>
        </svg>
    </div>
    <!--
    <div class="time ib principal-color">
        <div class="ib year">
            {{ currentYear }}
        </div>
    </div>

    <div class="logo">
        <img src="assets/imagenes/obesidad.png" />
    </div>

    <div class="mapa">
        <img src="assets/imagenes/mapa-latinoamerica.svg.png" />
    </div>
-->
    
</div>

<!-- <app-graphs-basic-copy></app-graphs-basic-copy> -->