
<svg width="1000" height="900">
    <g transform="rotate(180,450,450)" >
        <circle *ngFor="let c of datas" attr.stroke-dasharray="{{c.percent}}, {{2*PI*c.r}}" fill="none" stroke-width="40" [attr.stroke]="c.color" cx="370" cy="370" [attr.r]="c.r"/>
    </g>
    <rect width="1200" height="400" [attr.x]="0" y="530" style="fill:#EADBC4;" />

</svg>
