<div style="padding: 10px;">
    <div class="row" style="text-align: center;">
        <div class="title principal-color">
            {{ title }}
        </div>
    </div>
    <div class="row">
        <div class="subtitle secondary-color">
            {{ subtitle }}
        </div>
    </div>
    <div>
        <svg width="95%" height="722px">
        
            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-' + d?.flag" [attr.x]="0" y="0" height="1" width="1">
                    <image preserveAspectRatio="none" width="72" height="72" x="0" y="0" [attr.xlink:href]="'assets/millonarios/' + d.flag + '.png'">
                    </image>
                </pattern>
            </defs>

        
        
        
            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'flag-' + d?.countryFlag" [attr.x]="0" y="0" height="1" width="1">
                    <image preserveAspectRatio="none" width="40" height="40" x="0" y="0" [attr.xlink:href]="'assets/flags/' + d.countryFlag + '.png'">
                    </image>
                </pattern>
            </defs>
        
        
            
            <g class="bar" *ngFor="let d of datas; let idx = index"
                attr.transform="translate({{0}} {{ d?.position * 70 + 24 }})">
                
                <rect [ngStyle]="{ 'fill': d?.color, 'opacity': 0.75 }" rx="5" x="380" [attr.width]="d?.width + 5 + '%'" height="50" />
                
                <text class="fwb" style="font-family: 'corona';" [attr.x]="d?.width + 31 + '%'"
                y="30" [attr.fill]="'black'">
                    <!-- $ {{ (floorValue(d.value).toString()) }} -->
                    $ {{ decimalValue(d.value).toString() }} B
                </text>
                
                <text class="fwb" [ngStyle]="{ 'font-family': 'corona', 'font-size': '22px' }" [attr.x]="'0'"
                y="32" [attr.fill]="d?.color">{{ d?.name }}</text>

                <!--
                <image y="-5" [attr.x]="d?.width + 18 + '%'" [attr.href]="'assets/mlb/' + d.flag + '.png'" height="50" width="50"/>
                -->
                
                <circle stroke-opacity="75%" [attr.stroke]="d?.color" stroke-width="5" [attr.cx]="d?.width + 28 + '%'" cy="25" r="37"
                fill="white" />

                <circle stroke="white" stroke-width="2" [attr.cx]="d?.width + 28 + '%'" cy="25" r="36"
                [attr.fill]="'url(#clip-' + d?.flag + ')'" />

                <circle stroke-opacity="75%" [attr.stroke]="d?.color" stroke-width="5" [attr.cx]="380" cy="25" r="19"
                fill="white" />

                <circle stroke="white" stroke-width="2" [attr.cx]="380" cy="25" r="20"
                [attr.fill]="'url(#flag-' + d?.countryFlag + ')'" />
                
                
            </g>
        </svg>
        <!-- <app-graphs-basic-copy1 [vel]="vel" [csv]="csv1"></app-graphs-basic-copy1> -->
    </div>
    
    <div class="time ib principal-color">
        <div class="ib year">
            {{ currentYear }}
            <!--{{ currentYear | date:'dd-MM-yyyy' }}-->
        </div>
    </div>
<!--
    <div class="fuente principal-color">
        Fuente: Banco Mundial y Datosmacro
    </div>

    <div class="logo">
        <img *ngFor="let d of datas" style="border-radius: 50%;" [src]="'assets/youtube/' + d.flag  + '.jpg'" />
    </div>

    <div class="logo">
        <svg width="450px" height="260px">
            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-flag-selected-' + d?.id" height="1" width="1">
                    <image  preserveAspectRatio="none" width="200" [attr.xlink:href]="'assets/flags-buenas/' + d.flag + '.png'">
                    </image>
                </pattern>
            </defs>
            <g class="selected" *ngFor="let d of datas; let idx = index"
                attr.transform="translate({{0}} {{ d?.position * 460 }})">
                <image  preserveAspectRatio="none" width="200" [attr.xlink:href]="'assets/flags-buenas/' + d.flag + '.png'">
                </image>
                

                <circle stroke="white" cx="100" cy="100" stroke-width="2" r="94"
                [attr.fill]="'url(#clip-flag-selected-' + d?.id + ')'" />
            </g>
        </svg>
    </div>


    <div class="mapa">
        <img [attr.src]="'assets/imagenes/remesas.png'" />
    </div>
-->
    
</div>
<!-- <app-graphs-basic-copy1 [vel]="vel" [height]="'437px'" [left]="'1200px'" [top]="'-610px'" [csv]="csv1" [title]="'Mundo'"></app-graphs-basic-copy1> -->

<!-- Por paises -->
<!--
<div style="position: relative;left: 1200px;top: -700px;width: 490px;height: 0px;">
    <div>
        <svg width="90%" height="600px">

            <defs>
                <pattern *ngFor="let d of datas1; let idx = index" [attr.id]="'clip-' + d?.flag" [attr.x]="0" y="0" height="1" width="1">
                    <image preserveAspectRatio="none" width="40" height="40" x="0" y="0" [attr.xlink:href]="'assets/flags/' + d.flag + '.png'">
                    </image>
                </pattern>
            </defs>

            
            <g  class="bar" *ngFor="let d of datas1; let idx = index"
                attr.transform="translate({{0}} {{ d?.position * 72 + 24 }})">
                
                
                <text class="fwb" style="font-family: 'Arial';" [attr.x]="'60%'"
                y="25" fill="black">
                    {{ d.cant }}
                    
                </text>
                
                <text class="fwb" [ngStyle]="{ 'font-family': 'Arial' }" [attr.x]="'0'"
                y="25" [attr.fill]="d?.color">{{ d?.nameToShow }}</text>

                <image height="60" [attr.x]="'30%'" [attr.xlink:href]="'assets/mapas/' + d.flag  + '.png'" />
            
            </g>
        </svg>
    </div>
</div>

-->