.title {
    margin-bottom: 10px;
    font-size: 54px;
    font-family: 'corona';
    font-weight: bold;
}

.time {
    position: absolute;
    top: 810px;
    left: 1150px;
    font-size: 26px;
    font-family: 'corona';
    font-weight: bold;
    width: 400px;
    text-align: center;
}

.reloj {
    position: absolute;
    top: 320px;
    left: 1200px;
    color: gray;
    font-size: 56px;
    font-family: 'Arial';
    font-weight: bold;
}

.bar {
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
}

.ib {
    display: inline-block;
}

.year {
    font-size: 80px;
}

g.bar{
    transition: all 1s;
}

image {
    border-radius: 50%;
}

.principal-color {
    color: rgb(83, 36, 132)
}

.subtitle {
    margin-bottom: 0px;
    text-align: center;
    font-size: 30px;
    font-family: 'corona';
    font-weight: bold;
    color: rgba(0, 155, 58);
}

.fwb {
    font-weight: bold;
    font-size: 32px;
}

div.logo {
    position: absolute;
    top: 640px;
    left: 1250px;
    z-index: -1;
}

div.logo img {
    width: 200px;
}

div.mapa {
    position: absolute;
    top: 500px;
    left: 1220px;
    z-index: -1;
}

div.mapa img {
    width: 300px;
}

g.selected {
    transition: all 1s;
}

div.fuente {
    position: absolute;
    left: 650px;
    top: 880px;
    font-size: 30px;
    font-family: 'corona';
}