<div [ngStyle]="{ 'top': top, 'left': left }" style="position: relative;width: 470px;height: 0px;">
    <div class="row">
        <div style="text-align: center;" class="title" [ngStyle]="{ 'color': color }">
            {{ title }}
        </div>
    </div>
    <div class="row">
        <div class="subtitle secondary-color">
            {{ subtitle }}
        </div>
    </div>
    <div style="background-color: transparent!important;">
        <svg width="100%" [attr.height]="height">
        
            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-' + d?.flag" [attr.x]="0" y="0" height="1" width="1">
                    <image preserveAspectRatio="none" width="52" height="52" x="0" y="0" [attr.xlink:href]="'assets/flags/' + d.flag + '.png'">
                    </image>
                </pattern>
            </defs>
        
            
            <g class="bar" *ngFor="let d of datas; let idx = index"
                attr.transform="translate({{0}} {{ d?.position * 52 + 24 }})">
                
                <rect [ngStyle]="{ 'fill': d?.color, 'opacity': 0.75 }" rx="5" x="170" [attr.width]="d?.width + '%'" height="40" />
                
                <text class="fwb" style="font-family: 'corona';" [attr.x]="d?.width + 49 + '%'"
                y="30" [attr.fill]="'black'">
                    <!-- {{ (floorValue(d.value).toString()) }} -->
                    {{ decimalValue(d.value).toString() }}
                </text>
                
                <text class="fwb" [ngStyle]="{ 'font-family': 'corona' }" [attr.x]="'0'"
                y="25" [attr.fill]="d?.color">{{ d?.name }}</text>
                
                <circle stroke-opacity="75%" [attr.stroke]="d?.color" stroke-width="5" [attr.cx]="d?.width + 40 + '%'" cy="20" r="27"
                fill="white" />

                <circle stroke="white" stroke-width="2" [attr.cx]="d?.width + 40 + '%'" cy="20" r="26"
                [attr.fill]="'url(#clip-' + d?.flag + ')'" />
                
                
            </g>
        </svg>
    </div>
</div>