<div style="padding: 10px;">
    <div class="row" style="text-align: center;">
        <div class="title principal-color">
            {{ title }}
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="subtitle secondary-color">
            {{ subtitle | uppercase }}
        </div>
    </div>
    <!--
    <div class="mapaFlag1">
        <img width="200" src="assets/mapas/argentina.png" />
    </div>

    <div class="player1">
        <img width="190" src="assets/nba/curry.png" />
    </div>
<!--
    <div class="mapaFlag2">
        <img width="180" src="assets/mapas/portugal.png" />
    </div>

    <div class="player2">
        <img width="190" src="assets/nba/iverson.png" />
    </div>
    -->
    <div style="position: absolute; left: 725px; top:700px;z-index: -1;opacity: 0.5;">
        <img src='assets/nba/logonba.png' width="250" />
    </div>
    <div>
        <svg style="margin: 10px;z-index: 1" [attr.width]="total*2" height="770px">
            <!--
            <g *ngIf="idxp === 0">
                <text x="84%" y="20" font-size="30">{{ player.name | uppercase }}</text>
                <g attr.transform="translate({{total}} {{player.currentStats[idxs].value > 0 ? idxs*40 + 30 : 40*nameColumn.length + 30}}) scale(-1,1)" class="rect-stats" *ngFor="let stat of nameColumn; let idxs = index">
                    <rect [ngStyle]="{ 'fill': player.currentStats[idxs].color, 'opacity': 0.85 }" rx="5" x="0" [attr.width]="player.currentStats[idxs].value" height="30" />
                    <text class="text-cant" attr.transform="translate({{ player.currentStats[idxs].value }} {{ 0 }}) scale(-1, 1)">{{ player.stats[idxs] }}</text>
                </g>
            </g>
            -->
            <g *ngFor="let player of datas; let idxp = index">
                <g *ngIf="idxp === 0">
                    <text fill="#573286" class="name" x="510" y="20" font-size="25">{{ player.name | uppercase }}</text>
                    <g attr.transform="translate({{total+10}} {{player.currentStats[idxs].value > 0 ? idxs*40 + 35 : 900}}) scale(-1,1)" class="rect-stats" *ngFor="let stat of nameColumn; let idxs = index">
                        <rect [ngStyle]="{ 'fill': getColor(0, idxs, stat), 'opacity': 0.85 }" rx="5" x="0" [attr.width]="player.currentStats[idxs].value" height="30" />
                        <text class="text-cant" attr.transform="translate({{ player.currentStats[idxs].value + 30 + player.stats[idxs].toString().length * 10 }} {{ 20 }}) scale(-1, 1)">{{ player.stats[idxs] }}</text>
                        <circle cy="15" r="25" stroke="white" stroke-width="3" fill="#01a35e" />
                        <text class="stats" y="15" alignment-baseline="central" text-anchor="middle">{{ stat | uppercase }}</text>
                    </g>
                </g>
                <g transform="translate(810 0)" *ngIf="idxp === 1">
                    <text fill="#573286" class="name" x="80" y="20" font-size="25">{{ player.name | uppercase }}</text>
                    <g attr.transform="translate({{0}} {{player.currentStats[idxs].value > 0 ? idxs*40 + 35 : (player.currentStats[idxs].value < 0 ? idxs*40 + 35 : 900 )}})" class="rect-stats" *ngFor="let stat of nameColumn; let idxs = index">
                        <rect [ngStyle]="{ 'fill': getColor(1, idxs, stat), 'opacity': 0.85 }" rx="5" x="0" [attr.width]="player.currentStats[idxs].value < 0 ? 20 : player.currentStats[idxs].value" height="30" />
                        <text class="text-cant" attr.transform="translate({{ player.currentStats[idxs].value < 0 ? 50 : player.currentStats[idxs].value + 30 }} {{ 20 }})">{{ player.currentStats[idxs].value < 0 ? 0 : player.stats[idxs] }}</text>
                        <circle cy="15" r="25" stroke="white" stroke-width="3" fill="#01a35e" />
                        <text class="stats" y="15" alignment-baseline="central" text-anchor="middle">{{ stat | uppercase }}</text>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div class="legend">
        <span style="margin-right: 5px;" *ngFor="let lg of legend" >
            <span style="font-weight: bold; color: #01a35e">{{ lg.id | uppercase }}</span><span style="color: #573286;">: {{ lg.text }}</span>
        </span>
    </div>
    <div class="legend1">
        <div class="win">
            <div class="square"></div>
            Gana
        </div>
        <div class="lost">
            <div class="square"></div>
            Pierde
        </div>
        <div class="tie">
            <div class="square"></div>
            Empata
        </div>
    </div>
</div>