<div>
    <div class="title principal-color">
        SP500, AMAZON, APPLE, FACEBOOK, GOOGLE, MICROSOFT, NETFLIX y TESLA  en la CRISIS de 2020
    </div>
    <div class="row">
        <div class="subtitle secondary-color">
            Comportamiento de sus acciones en 2020 (%)
        </div>
    </div>
    <div class="">
        <svg class="svg" width="1200px" height="870px" version="1.1">

            <defs>
                <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-' + d.flag" [attr.x]="0" y="0" height="1"
                    width="1">
                    <image preserveAspectRatio="none" width="40" height="40" x="0" y="0"
                        [attr.xlink:href]="'assets/faag/' + d.flag + '.png'">
                    </image>
                </pattern>
            </defs>
    
            <g>
            
                <g>
                    <line x1="101" y1="100" x2="101" y2="870" stroke="rgb(83, 36, 132)" stroke-dasharray="3" />
                    <line x1="80" y1="750" x2="1100" y2="750" stroke="rgb(83, 36, 132)" stroke-dasharray="3" />
                    
                </g>

            

                <g attr.transform="translate({{tmp}} {{750}})">
    
                    <path *ngFor="let data of datas" [attr.id]="data.id" fill="transparent" [attr.stroke]="data.color"
                        stroke-width="3" class="path"></path>
    
                </g>
    
                <g transform="translate(100, 0)">
                    <rect width="1200" height="870" [attr.x]="positionRect" y="0" style="fill: #EADBC4;" />
                </g>                
    
                <g *ngFor="let data of datas" attr.transform="translate({{tmp}} {{750}})">
                    <text [attr.x]="data.positionXValue + 35" font-weight="bold" [attr.fill]="data.color"
                        [attr.y]="data.positionYValue + 5" font-family="corona" font-size="22">{{ (-1 * data.cant) }} %</text>
                    <text [attr.x]="data.positionXValue + 125" font-weight="bold" [attr.fill]="data.color"
                        [attr.y]="data.positionYValue + 5" font-family="corona" font-size="22">{{ data.name }}</text>
                    <circle [attr.cx]="data.positionXValue" [attr.cy]="data.positionYValue" r="24" [attr.fill]="data.color">
                    </circle>
    
                    <circle stroke="white" stroke-width="3" [attr.cx]="data.positionXValue" [attr.cy]="data.positionYValue"
                        r="20" [attr.fill]="'url(#clip-' + data.flag + ')'" />
                </g>
    
                <rect width="1200" height="100" [attr.x]="0" y="0" style="fill: #EADBC4;" />
    
                <g *ngFor="let i of fch; let idx = index" attr.transform="translate({{100*i.position}}, {{50}})"
                    class="dates">
    
                    <text fill="rgb(83, 36, 132)" transform="translate(40, -130), rotate(290,100,100)" font-family="corona"
                        font-size="14" font-weight="bold">{{ i.value | date:'dd/MM/yyyy' }}</text>
                </g>
    
                <g transform="translate(0, 0)">
                    <rect fill="#EADBC4" width="100" height="870"></rect>
                </g>

                <g>
                    <text fill="rgb(83, 36, 132)" transform="translate(65, 405)" font-family="corona"
                        font-size="12" font-weight="bold"></text>
                </g>

                <g>
                    <text fill="rgb(83, 36, 132)" transform="translate(65, 755)" font-family="corona"
                        font-size="20" font-weight="bold">0</text>
                </g>
    
            </g>
            
    
        </svg>
        <svg width="300" height="800">
            <g class="bar" attr.transform="translate(100, {{d.position*60 + 50}})"
                *ngFor="let d of datas; let idx = index">
                <text font-weight="bold" [attr.fill]="d.color" y="-3" font-family="corona" font-size="18">{{ d.name }}</text>
                <text font-weight="bold" [attr.fill]="d.color" y="17" font-family="corona"
                    font-size="18">{{ (-1*d.cant) }} %</text>
                <circle cx="-40" y="-20" r="24" [attr.fill]="d.color">
                </circle>
                <circle stroke="white" stroke-width="3" cx="-40" y="-20" r="20" [attr.fill]="'url(#clip-' + d.flag + ')'" />
            </g>
        </svg>
    </div>    

    <div class="date" style="text-align: center; top: 645px">
        <img width="240" src="assets/faag/logo.png" />
        <div class="principal-color" style="position: relative; top: -10px;">{{ fch[currentDate].value | date:'dd/MM/yyyy' }}</div>
    </div>
</div>