/*
svg {
  display: block;
  position: absolute;

}

path.path {
  stroke-dasharray: 110;
  stroke-dashoffset: 0;
  animation: dash 20s linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: 110;
  }
  to {
    stroke-dashoffset: 0;
  }
}
*/

g.dates{
  // transition: all 1s;
}

div.date {
  position: absolute;
  top: 550px;
  left: 1220px;
  font-size: 50px;
  font-family: 'corona';
  font-weight: bold;
}

g.bar {
  transition: transform 1s;
}

.principal-color {
  color: rgb(83, 36, 132);
}

.title {
  font-size: 35px;
  font-family: 'corona';
  font-weight: bold;
  text-align: center;
}

.subtitle {
  margin-bottom: 0px;
  text-align: center;
  font-size: 20px;
  font-family: 'corona';
  font-weight: bold;
  color: rgba(0, 155, 58);
}