.title {
    margin-bottom: 10px;
    font-size: 46px;
    font-family: 'corona';
    font-weight: bold;
}

.time {
    position: absolute;
    top: 850px;
    left: 1360px;
    font-size: 26px;
    font-family: 'corona';
    font-weight: bold;
}

.reloj {
    position: absolute;
    top: 320px;
    left: 1100px;
    color: gray;
    font-size: 46px;
    font-family: 'Arial';
    font-weight: bold;
}

.bar {
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
}

.ib {
    display: inline-block;
}

.year {
    font-size: 70px;
}

g.bar{
    transition: all 1s;
}

image {
    border-radius: 50%;
}

.principal-color {
    color: #f56954
}

.subtitle {
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    font-family: 'corona';
    font-weight: bold;
    color:rgb(0, 166, 90);
}

.fwb {
    font-weight: bold;
    font-size: 18px;
}

div.logo {
    position: absolute;
    top: 640px;
    left: 1250px;
    z-index: -1;
}

div.logo img {
    width: 200px;
}

div.mapa {
    position: absolute;
    top: 560px;
    left: 1290px;
    z-index: -1;
}

div.mapa img {
    width: 250px;
}

g.selected {
    transition: all 1s;
}

.mycard {
    // background-color: #222;
    background-color: #f8f9fd;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 10.7%;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    font-family: 'corona';
}

.row {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.note {
    font-family: 'corona';
    font-size: 25px;
    font-weight: bold;
}

.parpadea {
  
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }