<div>
    <div class="row" style="text-align: center;">
        <div style="margin: auto;" class="title principal-color">
            {{ title }}
        </div>
    </div>
    <div class="row">
        <div style="margin: auto;" class="subtitle secondary-color">
            {{ subtitle }}
        </div>
    </div>
    <div style="width: 80%">
        <div class="row">
            <div class="mycard" *ngFor="let d of datas">
                <div style="text-align: center;">
                    <img width="50" src="assets/flags-buenas/{{d?.flag}}.png" />
                </div>
                <div style="text-align: center;">
                    <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="d.value"
                        [animated]="false" [animationDuration]="1"
                        [label]="label.bind(decimalValue(d.value))"
                        >
                    </mwl-gauge>
                    <!--[label]="label.bind(decimalValue(d.value))"-->
                </div>
            </div>
        </div>
    </div>
    <div class="time ib">
        <div class="ib year principal-color">
            {{ currentYear }}
            <!--{{ currentYear | date:'dd-MM-yyyy' }}-->
        </div>
    </div>
    <div class="mycard1">
        <app-graphs-basic-copy [vel]="vel" [height]="'692px'" [left]="'1220px'" [top]="'-717px'" [csv]="csv" [title]="'Mundo'"></app-graphs-basic-copy>
    </div>
    
    <div class="note parpadea principal-color">
        <div>Existen países que no actualizan sus datos anualmente</div>
        <div>Fuente: Banco Mundial</div>
    </div>
    <!--
<div class="mapa">
        <img src="assets/imagenes/vih.png" />
    </div>
-->


</div>