
<svg width="30%" height="750">
    <defs>
        <pattern *ngFor="let d of datas; let idx = index" [attr.id]="'clip-' + d?.flag" [attr.x]="0" y="0" height="1"
            width="1">
            <image preserveAspectRatio="none" width="52" height="52" x="0" y="0"
                [attr.xlink:href]="'assets/flags/' + d.flag + '.png'">
            </image>
        </pattern>
    </defs>

    <g class="bar" *ngFor="let d of datas; let idx = index"
        attr.transform="translate({{0}} {{ d?.position * 52 + 24 }})">

        <rect [ngStyle]="{ 'fill': d?.color, 'opacity': 0.75 }" rx="5" x="185" [attr.width]=" d?.width + '%'"
            height="40" />

        <text class="fwb" style="font-family: 'corona';" [attr.x]="d?.width + 42 + '%'" y="30" fill="black">
            {{ (floorValue(d.value).toString()) }} TJ
            <!-- {{ decimalValue(d.value).toString() }} % -->
        </text>

        <text class="fwb" [ngStyle]="{ 'font-family': 'corona' }" [attr.x]="'0'"
                y="25" [attr.fill]="d?.color">{{ d?.name }}</text>

        <!--
        <image y="-5" [attr.x]="d?.width + 18 + '%'" [attr.href]="'assets/mlb/' + d.flag + '.png'" height="50" width="50"/>
        -->
        
        <circle stroke-opacity="75%" [attr.stroke]="d?.color" stroke-width="5" [attr.cx]="d?.width + 35 + '%'" cy="20" r="27"
        fill="white" />

        <circle stroke="white" stroke-width="2" [attr.cx]="d?.width + 35 + '%'" cy="20" r="26"
        [attr.fill]="'url(#clip-' + d?.flag + ')'" />

        <!--
                <circle [attr.stroke]="d?.color" stroke-width="3" [attr.cx]="26" cy="30" r="23"
                fill="white" />

                <circle stroke="white" stroke-width="2" [attr.cx]="26" cy="30" r="20"
                [attr.fill]="'url(#clip-flag-' + d?.id + ')'" />
-->
    </g>
    <g>
        <rect [ngStyle]="{ 'fill': '#EADBC4' }" y="550" width="100%" height="200%" />
    </g>
</svg>